.services {
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.main_sections_tittle{
    padding-right: 50%;
    display: flex;
    height: 21.333px;
}

.main_sections_tittle span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #202020;
}
.table {
    margin: auto;
    justify-content: center;

}
.table-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.table-row a {
    text-decoration: none;
}
.table-row a:link .learn_text {
    display: none;
}
.table-row a:hover .learn_text {
    display: inline-block;
}
.table .table-cell {
    display: flex;
    padding: 30px;
    margin: 0%;
    width: 482px;
    height: 144.800px;
}
.table-cell .table_image {
    width: 130px;
    height: 130px;
    margin-right: 20px;
}

.table_icon h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #202020;
    margin-bottom: 20px;
}
.table_icon .about {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #7E7E7E;
    width: 332px;
    height: 60px;
    margin-bottom: 20px;
}
.learn_more {
    margin-bottom: 20px;
}
.learn_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #202020;
    margin-right: 20px;
}
.underline_big {
    width: 332px;
    height: 1px;
    border: 1px solid #F0F0F0;
    background-color: #F0F0F0;
}
.underline_small {
    border: 2px solid #FFCA00;
    width: 127px;
    height: 1px;
    background-color:  #FFCA00;
    position: relative;
    bottom: 2px;

}
.table-row a:link .underline_small {
    display: none;
}
.table-row a:hover .underline_small {
    display: block;

}
@media screen and (max-width: 1200px) {
    .table a:last-of-type {
        display: none;
    }
}
@media screen and (max-width: 550px) {
    .main_sections_tittle{ 
        margin-bottom: 20px;
    }
    .table-cell .table_image {
        width: 75px;
        height: 75px;
    }
    .table .table-cell {
        width: 100%;
        padding: 10px 0px;
        margin-bottom: 5%;
    }
}
@media screen and (max-width: 450px) {

    .table-cell {
        height: 250px;
        width: 90%;
    } 
    /* .table-cell .table_image {
        display: none;
    } */
    .table_icon  {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 20px;
        position: relative;
    }
    .underline_big {
        width: 80%;
        position: absolute;
        bottom: 0%;
        left: 0%;
    }

    .table_icon h3 {
        width: 150px;
        margin: 0;
        font-size: 15px;
    }
    .table_icon .about {
        font-size: 10px;
        width: 70%;
        line-height: 15px;
    }
    .learn_more {
        display: none;
    }
}